/* PHASE 4: Footer */

.footer {
    color: #aaa;
    background: #fff;
    width: 900px;
    margin: auto;
    border: 1px solid #ccc;

}

.footer-copy {
    padding: 20px;
    float: left;

}

.footer-links {
    
    float: right;

}

.footer-links > li {
    padding:20px;
    float: left;

}

.footer a {

}

.footer a:hover {
    color: #000;

}
